* {
  margin: 0;
}

// .container {
//   background-color: darkseagreen;
//   width: 300px;
//   height: 200px;
// }

.box {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8);
  font-size: 20px;
  color: #3cdbc0;
  animation-name: intro;
  animation-duration: 5s;
  animation-iteration-count: 1;
  border-radius: 1em;
  background-color: whitesmoke;
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes intro {
  from {
    opacity: 0;
    transform: translatey(150px);
    transform-origin: bottom left;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
