/* He hecho el ejercicio usando span, por lo que al hacer el 1 he hecho también el 2 que pedía que hiciera lo mismo pero usando el span */

body {
  margin: 0;
  border-top: 1px solid black;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 200px 40px;
  grid-gap: 5px;
}

.item {
  background: deeppink;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  grid-column: span 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item2 {
  grid-column: span 2;
  grid-row-start: 1;
  grid-row-end: 20;
}

.item3 {
  grid-column: span 1;
  grid-row-start: 3;
  grid-row-end: 45;
}

.item4 {
  grid-column: span 1;
  grid-row-start: 3;
  grid-row-end: 20;
}

.item5 {
  grid-column: span 1;
  grid-row-start: 20;
  grid-row-end: 45;
}

.item6 {
  grid-column: span 2;
  grid-row-start: 20;
  grid-row-end: 45;
}
