// fonts
$fontText: "Roboto", sans-serif;
$fontSize: 16px;

// colors
$color-white: #f3f4f5;
$color-secondary: #999;
$colorBody: #414141;
$backgroundHeader: lightgrey;
$backgroundMain: #aaa;
$backgroundFooter: lightgrey;

//Sizes
$headerHeight: 100px;
$footerHeight: 100px;
